<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="user-panel text-center">
        <%= image_tag current_user.picture, class: "user-photo" %>
        <h3><%= current_user.first_name %></h3>
        <%= link_to "Contact", "#", class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="container-fluid">
      <div class="offers">
        <div class="row">

            <div class="panel-title">
              <p>My employees available for hire</p>
            </div>

            <% current_user.posts.each do |post| %>
              <div class="col-cs-12 col-md-6">
                <div class="card">
                  <div class="card-category">
                  <h3><%= post.title %></h3></div>
                  <div class="card-mission">
                    <ul class="list-unstyled">
                      <li> Job Title: <strong> <%= post.title %> </strong></li>
                      <li> Jobber's name: <strong> <%= post.employee_name %> </strong></li>
                      <li>Skill: <strong><%= post.employee_skill %></strong></li>
                      <li>Availability: <strong> <%= post.date_begin.strftime("%B %Y")  %> - <%= post.date_end.strftime("%B %Y") %></strong></li>
                      <li> Short Description of the Job: <strong> <%=post.description %> </strong></li>
                    </ul>
                     </div>
                    <div class="link text-center">
                    <%= link_to "See more", post_path(post), class: "btn btn-danger btn-sm" %>
                  </div>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
