<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="user-panel text-center">
        <%= image_tag current_user.picture, class: "user-photo" %>
        <h3><%= current_user.first_name %></h3>
        <%= link_to "Contact", "#", class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="offers">
        <p class="panel-title">My employees available for hire</p>
          <% if current_user.posts.count > 0 %>
            <% current_user.posts.each do |post| %>
              <div class="panel-info">
                <h4><%= link_to post.title, post_path(post) %></h4>
                <p><%= post.description %></p>
              </div>
            <% end %>
          <% end %>
      </div>
      <div class="offers">
        <p class="panel-title">My enquiries</p>
          <div class="panel-info">
            <% if current_user.posts.count > 0 %>
              <% current_user.posts.each do |post| %>
                <h4><%= post.title %></h4>
                <p><%= post.description %></p>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
