<%= render 'mininav' %>

<div class="container">
  <div class="dashboard-container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="user-panel text-center">
          <%= image_tag current_user.picture, class: "user-photo" %>
          <h3><%= current_user.first_name %></h3>
          <%= link_to "Contact", "#", class: "btn btn-primary" %>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="container-fluid">
        <div class="offers">
          <div class="row">
            <div class="offers">
              <div class="panel-header">
                My employees available for hire
              </div>
              <%= render 'dashboard_cards' %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
