<%= render "shared/banner"  %>
<div class="wrapper features">
  <div class="container text-center">
    <div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag "onefinger.png", {class: "pic-counter1", id: "logo"}%>

          <p>Donner de la flexibilité à votre masse salariale</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag "twofingers.png", {class: "pic-counter", id: "logo"}%>
          <p>Trouver rapidement des compétences expertes selon vos besoins</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag "threefingers.png", {class: "pic-counter", id: "logo"}%>

          <p>Accélérez le développement de votre entreprise avec un minimum de risques</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper missions">
  <div class="container text-center padded">
    <h2>Un aperçu des missions disponibles</h2>
    <div class="row">
      <% @posts[0..2].each do |p| %>
      <%= render "shared/post", post: p %>
      <% end %>
    </div>
    <div><h3><%= link_to "See more missions", posts_path, class: "btn btn-danger btn-lg"  %></h3>   
    </div>
  </div>
</div>


