<%= render 'mininav' %>

<div class="container">
  <div class="requests-container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="offers">
        <div class="panel-header">
          My requests pending
        </div>
        <div>
          <ul class="list-unstyled requests-list">
            <% Mission.where(selling_user_id: current_user.id).each do |mission| %>
              <li>
                <div class="row">
                  <div class="col-xs-3">
                    <%= image_tag mission.buying_user.picture, class: "avatar-large" %>
                  </div>
                  <div class="col-xs-9">
                    <%= mission.description %>
                    <%= link_to "accept", "#", class: "btn btn-success" %>
                    <%= link_to "decline", "#", class: "btn btn-danger" %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


