<%= render 'mininav' %>

<div class="container">
  <div class="requests-container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="offers">
        <div class="panel-header">
          My requests pending
        </div>
        <div>
          <ul class="list-unstyled requests-list">
            <% @missions.each do |mission| %>
              <li id=<%= "mission-#{mission.id}" %>>
                <div class="row request">
                  <div class="col-xs-3">
                    <%= image_tag mission.buying_user.picture, class: "avatar-large" %>
                  </div>
                  <div class="col-xs-9">
                    <%= mission.description %>
                  </div>
                  <div class="col-xs-12 form-answer text-center">
                    <%= link_to "accept", accept_post_mission_path(mission.post, mission), method: :patch, remote: true, class: "btn btn-success" %>
                    <%= link_to "decline", decline_post_mission_path(mission.post, mission), method: :patch, remote: true, class: "btn btn-danger" %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      $(".request").hover(function () {
        $(this).children('.form-answer').slideToggle();
      });
    })
  <% end %>
<% end %>


