  <!-- <nav class="pushmenu pushmenu-left">
    <h3>Search</h3>
    <a href="#">Home</a>
    <a href="#">Nav2</a>
    <a href="#">Nav3</a>
    <a href="#">Nav4</a>
    <a href="#">Nav5</a>
    <a href="#">Nav6</a>
    <a href="#">Nav7</a>
  </nav>


<div class="container">
        <div class="main">
        <section class="buttonset">
            <div id="nav_list">Menu</div>
        </section>

    <section class="content">
      <h1>Slideout Navigation</h1>
      <p>
          hellooooo
      </p> -->

  <div id="map-index" style="width: 100%; height: 300px;"></div>
<div class="container index">
<h1 class="text-center">All Posts</h1>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-4">
          <div class="card">

            <%= link_to post_path(post) do %>
              <div class="card-image" style="background-image: url(<%= post.photo.url(:cards) %>)">
                <div>
                  <p><%= post.description.first(200) %></p>
                </div>
              </div>
            <% end %>
            <div class="card-title text-center">
              <h3><%= post.title %></h3>
            </div>
            <div class="card-user">
              <%= image_tag post.user.picture, class: "avatar" %>
              <%= post.user.first_name %>
            </div>
          </div>
      </div>
    <%end%>
  </div>
</div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map-index' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>






