<h1 class="text-center">All Posts</h1>
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-4">
        <h3><%= link_to post_path(post) do %></h3>
          <div class="card">
            <div class="card-category"><%= post.title %></div>
            <div class="card-mission">
              <ul>
                <li>Skill: <strong><%= post.employee_skill %></strong></li>
                <li>Duration: <strong><%= post.date_begin  %> - <%= post.date_end %></strong></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    <%end%>
  </div>
</div>
</div>
