<div class="container index">
<h1 class="text-center">All Posts</h1>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-category">
            <h3><%= post.title %></h3></div>
            <div class="card-mission">
              <ul class="list-unstyled">
                <li> Job Title: <strong> <%= post.title %> </strong></li>
                <li> Jobber's name: <strong> <%= post.employee_name %> </strong></li>
                <li>Skill: <strong><%= post.employee_skill %></strong></li>
                <li>Availability: <strong> <%= post.date_begin.strftime("%B %Y")  %> - <%= post.date_end.strftime("%B %Y") %></strong></li>
                <li> Short Description of the Job: <strong> <%=post.description.first(50) + "..." %> </strong></li>
              </ul>
               </div>
              <div class="link text-center">
              <%= link_to "See more", post_path(post), class: "btn btn-danger btn-sm" %>
            </div>
          </div>
      </div>
    <%end%>
  </div>
</div>
</div>


