<h1 class="text-center">Add a new Post</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <p id="notice"><%= notice %></p>
      <%= simple_form_for @post do |f| %>
        <%= f.error_notification %>
        <%= f.input :title, required: false %>
        <%= f.input :description, required: false %>
        <%= f.input :employee_name, required: false %>
        <%= f.input :employee_skill, required: false %>
        <%= f.input :address, required: false %>
        <%= f.input :date_begin, as: :string, input_html: { :class => "datepicker_begin", "data-provide" => "datepicker"}, required: false %>
        <%= f.input :date_end, as: :string, input_html: { :class => "datepicker_end", "data-provide" => "datepicker"}, required: false %>
        <%= f.button :submit, class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
<script>
  $('.datepicker_begin').datepicker({
    format: "yyyy/MM/dd",
    todayHighlight: true,
    toggleActive: true
  });

  $('.datepicker_end').datepicker({
    format: "yyyy/MM/dd",
    todayHighlight: true,
    toggleActive: true
  });
</script>
<% end %>
