<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="post-card">
      <p id="notice"><%= notice %></p>
      <div class="header">
      <ul class="list-unstyled list-inline">
      <li> <%= cl_image_tag @post.photo, height: 100, width: 100, crop: :fill %></li>
      <li><h2><%= @post.title %></h2></li>
      </ul>
      </div>
      <div class="infos">
        <ul class="list-unstyled">
          <li><i class="fa fa-building red"></i><%= @post.company %></li>
          <li><i class="fa fa-map-marker red"></i><%= @post.address %></li>
          <li><i class="fa fa-calendar red"></i><%= @post.date_begin.strftime('%A, %b %d') %> - <%= @post.date_end.strftime('%A, %b %d') %></li>
          <li><i class="fa fa-eur red"></i><%= @post.salary %></li>
        </ul>
      </div>
      <div class="description">
      <p><%= @post.description %></p>
      </div>

      <hr>
      <div class="employee">
        <ul class="list-unstyled">
          <li><strong>Employee Name</strong>: <%= @post.employee_name %></li>
          <li><strong>Employee Main Skills</strong>: <%= @post.employee_skill %></li>
        </ul>
      </div>

      <div class="text-center">
      <%= link_to "I am interested", new_post_mission_path(@post), class: "btn btn-danger", style: "width: 100%; padding: 10px; margin: 30px 0;" %>
      </div>

      <hr>
      <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<!-- Require jQuery and Google map For rails javascript lib -->
<script src="https://wagon-google-maps-markers.herokuapp.com/assets/application-5034196864c74ae1cc5f12e6d1f71223.js" type="text/javascript"></script>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var coord = <%= raw @user_coordinates.to_json %>;
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' }, provider: { scrollwheel: false } }, function(){
marker = handler.addMarkers([
{ "lat": coord.lat, "lng": coord.lng }
]);
handler.bounds.extendWith(marker);
handler.fitMapToBounds();
handler.getMap().setZoom(16);
});
})
<% end %>
<% end %>


