<div class="container post-card">
  <p id="notice"><%= notice %></p>
  <%= cl_image_tag @post.photo, height: 300, width: 400, crop: :fill %>
  <h2 class="text-center"><%= @post.title %></h2>

  <p><%= @post.description %></p>

  <hr>

  <div class="employee">
    <ul class="list-unstyled">
      <li><strong>Employee Name</strong>: <%= @post.employee_name %></li>
      <li><strong>Employee Main Skills</strong>: <%= @post.employee_skill %></li>
    </ul>
  </div>

  <hr>

  <div class="user-info">
    <ul class="list-unstyled">
      <li><strong>Company name</strong>: ...</li>
      <li><strong>Company specialty</strong>: ...</li>
      <li><strong>More company infos</strong>: ...</li>
    </ul>
  </div>
  <div class="text-center">
    <%= link_to "I am interested", new_post_mission_path(@post), class: "btn btn-danger" %>
  </div>
</div>
