<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <p id="notice"><%= notice %></p>

      <h2 class="text-center"><%= @post.title %></h2>

      <ul class="list-unstyled">
        <li><%= @post.description %></li>
        <li><%= @post.date_begin %> - <%= @post.date_end %></li>
      </ul>

      <hr>

      <div class="employee">
        <ul class="list-unstyled">
          <li><%= @post.employee_name %></li>
          <li><%= @post.employee_skill %></li>
        </ul>
      </div>

      <hr>

      <div class="user-info">
        <ul class="list-unstyled">
          <li>Company name: ...</li>
          <li>Company specialty: ...</li>
          <li>More company infos: ...</li>
        </ul>
      </div>
    </div>
  </div>
</div>
